html
  head
    title= title
    script(src='./script.js')
    style
      include style.css
  body.body
    div.title
    div.container
      div.grid
        each row, rowNum in positions 
          each square, colNum in row 
            if square === "-"
              div.empty(onclick=`makeMove("${[rowNum, colNum]}","${root_url}")`)
            else if square === "O"
              div.white
            else if square === "X"
              div.black
        
        
